alembic==0.9.10
appdirs==1.4.3
bcrypt==3.1.7
blinker==1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
distlib==0.3.0
dnspython==1.16.0
dominate==2.5.1
dynaconf==2.2.3
email-validator==1.1.0
filelock==3.0.12
Flask==1.1.1
Flask-Admin==1.5.0
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.0
Flask-Cache==0.13.1
Flask-DebugToolbar==0.11.0
Flask-FlatPages==0.6
flask-googlemaps==0.4.0
Flask-Gravatar==0.4.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.2.1
Flask-PyMongo==0.5.1
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.3.2
Flask-Themes==0.1.3
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
future==0.18.2
googlemaps==4.4.1
gunicorn==19.9.0
htmlmin==0.1.12
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
jsmin==2.2.2
livereload==2.6.1
lunr==0.5.6
Mako==1.0.7
Markdown==3.2.1
MarkupSafe==1.1.1
mimerender==0.6.0
mkdocs==1.1
mkdocs-material==5.0.2
mkdocs-minify-plugin==0.3.0
nltk==3.4.5
psycopg2==2.8.5
psycopg2-binary==2.8.5
pycparser==2.20
Pygments==2.6.1
pymdown-extensions==7.0
pymongo==3.4.0
PyMySQL==0.7.11
python-box==3.4.6
python-dateutil==2.7.3
python-dotenv==0.13.0
python-editor==1.0.3
python-mimeparse==1.6.0
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
SQLAlchemy==1.2.9
toml==0.10.1
tornado==6.0.4
urllib3==1.25.9
virtualenv==20.0.18
virtualenvwrapper-win==1.2.6
visitor==0.1.3
Werkzeug==1.0.0
WTForms==2.2.1
