<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card strpied-tabled-with-hover">
               <div class="card-header ">
                  <h4 class="card-title">Предстоящие рейсы</h4>
               </div>
               <div class="card-body table-full-width table-responsive">
                  <table class="sortable table table-hover table-striped">
                     <thead>
                        <th>Номер рейса</th>
                        <th>Город отправления</th>
                        <th>Город прибытия</th>
                        <th>Категория опасности</th>
                        <th>Вероятность инцидента</th>
                        <th>Дата полета</th>
                     </thead>
                     {% for p in passages %}
                     <tr>
                        <td>{{ p.FltNumber }}</td>
                        <td>{{ p.OrigCity }}</td>
                        <td>{{ p.DestCity }}</td>
                        <td>{{ p.DangerStatus }}</td>
                        <td>
                           <progress class="progress progress-striped" value={{ p.DangerCase }} max="1"></progress>
                        </td>
                        <td>{{ p.FlightDate }}</td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="content">
               <div class="card-body">
                  <div class="card">
                     <div class="card-header">
                        <h4 class="card-title">Фильтры</h4>
                     </div>
                     <form class="row" role="search" method="post" action=/table/search>
                        <div class="col-md-3">
                           {{ search.example}}
                            <div class="col-md">
                            {{ search.Time }}
                                </div>
                        </div>
                        <div class="col-md-offset-2">
                           <label>Город отправления</label>
                        </div>
                        <div class="col-md-3">
                           {{ search.origcity(placeholder="OrigCity") }}
                           <br>
                           <br>
                           {{ search.search(class_="btn btn-info btn-fill pull-right")}}
                        </div>
                        <div class="col-md-offset-2">
                           <div class="form-group">
                              <label>Город назначения</label>
                           </div>
                        </div>
                        <div class="col-md-2 px-1">
                           <div class="form-group">
                              {{ search.destcity(placeholder="DestCity")}}
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>