        <div class="sidebar" data-image="/static/assets/img/sidebar-6.jpg" data-color="blue">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
            Tip 2: you can also add an image using data-image tag -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        AERO
                    </a>
                </div>
                {% if current_user.is_authenticated %}
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="/user.html">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Профиль клиента</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/table.html">
                            <i class="nc-icon nc-notes"></i>
                            <p>Предстоящие рейсы</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="/table1.html">
                            <i class="nc-icon nc-notes"></i>
                            <p>Пассажиры</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href={{ url_for('logout') }}>
                            <i class="nc-icon nc-single-02"></i>
                            <p>Выход</p>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>

        </div>

